@media all {

	body {
		background-color: #ecf0f1;
	}

	main {
		margin-left: 150px;
	}

	.image.corner_bg {
		position: fixed;
		bottom: 0; right: 0;
		z-index: -5;
		width: 50%;
	}

	.groupContainer {
		width : 98%;
		margin: 0% 2%;
	}

	.membersContainer {
	    width: 96%;
	    color: #fff;
	    margin: 0% 2%;
	}
	.membersContainer:after {
	    content: " ";
	    display: block;
	    height: 0;
	    clear: both;
	    overflow: hidden;
	    visibility: hidden;
	}

	.member {
	    position: relative;
	    width: 32%;
	    height: 110pt;
	    margin: 10px 0px;
	    float: left;
	    overflow: hidden;
	    border-bottom: 5px solid #ffffff;
	}
	.member .memberColumn {
	    float: left;
	    z-index: 3;
	}

	.nameContainer {
	    position: relative;
	    width: 100%;
	    height: 50pt;
	    margin-top: 5pt;
	    text-align: center;
	}
	.nameContainer {
	    display: inline-block;
	}
	.birthdayContainer {
	    position: relative;
	    margin: 5pt;
	    height: 50pt;
	}
	.unitContainer {
	    text-align: center;
	    float: left;
	    width: 20%;
	}
	.unitContainer .number {
	    font-size: 15pt;
	}
	.unitContainer .unit {
	    font-size: 7pt;
	}
	.picsContainer {
	    position: relative;
	    overflow: none;
	    width: 40%;
	    height: 110pt;
	}
	.picsContainer .pic,
	.picsContainer .arc {
	    position: absolute;
	    margin: auto;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	}
	.picsContainer .pic {
	    width: 90pt;
	    height: 90pt;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.picsContainer .arc {
	    width: 93pt;
	    height: 93pt;
	    border: 5px solid transparent;
	    border-top: 5px solid #fff;
	    -webkit-animation: spin 3s linear infinite;
	    -moz-animation: spin 3s linear infinite;
	    -o-animation: spin 3s linear infinite;
	    -ms-animation: spin 3s linear infinite;
	    animation: spin 3s linear infinite;
	}
	.details {
	    width: 60%;
	}
	.details .name {
	    font-size: 12pt;
	}
	.details .birthday {
	    font-size: 9pt;
	}

	.twitter a {
	    color: #ffffff;
	    font-size: 8pt;
	    text-decoration: none;
	}

	@-webkit-keyframes spin {
	    0% {
	        -webkit-transform: rotate(0deg);
	        -moz-transform: rotate(0deg);
	        -o-transform: rotate(0deg);
	        -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	    }
	    100% {
	        -webkit-transform: rotate(360deg);
	        -moz-transform: rotate(360deg);
	        -o-transform: rotate(360deg);
	        -ms-transform: rotate(360deg);
	        transform: rotate(360deg);
	    }
	}
	@keyframes spin {
	    0% {
	        -webkit-transform: rotate(0deg);
	        -moz-transform: rotate(0deg);
	        -o-transform: rotate(0deg);
	        -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	    }
	    100% {
	        -webkit-transform: rotate(360deg);
	        -moz-transform: rotate(360deg);
	        -o-transform: rotate(360deg);
	        -ms-transform: rotate(360deg);
	        transform: rotate(360deg);
	    }
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) and (orientation: portrait) {
    #title-container {
        display: none;
    }
    #llss {
        display: block;
    }
    .member {
        width: 50%;
    }
    .name {
        font-size: 10pt;
    }
    .number {
        font-size: 9pt;
    }
    .unit {
        font-size: 5pt;
    }
}

@media (min-width: 100px) and (max-width: 900px) {
    #title-container {
        display: none;
    }
    #llss {
        display: block;
    }
    .name {
        font-size: 10pt;
    }
    .number {
        font-size: 9pt;
    }
    .unit {
        font-size: 5pt;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .member {
        width: 33.33%;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .member {
        width: 33.33%;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .member {
        width: 50%;
    }
}

@media (min-width: 100px) and (max-width: 600px) {
    .member {
        width: 100%;
    }
}
